h1 {
  font-family: Sacramento;
  color: white;
  font-size: 5rem;
  margin-top: 5.5rem;
  margin-bottom: 0px;
  line-height: 5rem;
}

h2 {
  font-family: DM Serif Display;
  font-size: 3rem;
  color: white;
  margin-bottom: 1;
}

h3 {
  font-family: Major Mono Display;
  font-size: medium;
  color: white;
  line-height: 1.5rem;
}

p {
  font-family: Noto Sans;
  color: white;
  font-size: 18px;
  line-height: 2;
}

button {
  font-family: Noto Sans;
  text-decoration: none;
}